<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts.js" defer></script>
  </head>
  <body>
    <%= render("src/views/_header.ecr") %>
    <%= content %>
    <%= render("src/views/_footer.ecr") %>
  </body>
</html>
